@import "../../../styles/variables.scss";

.button {
  width: 100%;
  background-color: $primary_color;
  text-align: center;
  border: 1px $primary_color solid;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
  font-family: $font;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &.wish {
    border: 1px solid $primary_color;
    background-color: white;
    color: $primary_color;
  }
}
.button:hover {
  background-color: white;
  color: $primary_color;
  transition: all 0.3s ease-in-out;
  &.wish {
    background-color: $primary_color;
    color: white;
  }
}

.button:active {
  background-color: white;
  color: $primary_color;
  transition: all 0.3s ease-in-out;
  &.wish {
    background-color: $primary_color;
    color: white;
  }
}

@media (min-width: 1600px) {
  .button {
    font-size: 19px;
    gap: 10px;
    svg {
      width: 25px;
      height: auto;
    }
  }
}
