@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "../../styles/variables.scss";

.slideWrap {
  width: 90%;
  margin: 0 auto;

  font-family: $font;
  h3 {
    font-size: 15px;
    text-align: center;
  }
  .cardContain {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 500px) {
  .slideWrap {
    h3 {
      font-size: 18px;
    }
  }
}
@media (min-width: 1600px) {
  .slideWrap {
    h3 {
      font-size: 22px;
    }
  }
}
