.sliderWrap {
  margin: 0 auto 15px auto;
  width: 90%;
  grid-area: slider;

  .top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    h2 {
      margin: 0;
      font-size: 15px;
    }
    .arrows {
      display: flex;
      flex-flow: row nowrap;
      gap: 5px;
      svg {
        width: 25px;
        height: auto;
        cursor: pointer;
      }
    }
  }

  .slider {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
    overflow: auto;
  }
}

@media (min-width: 500px) {
  .sliderWrap {
    .top {
      h2 {
        font-size: 18px;
      }
    }
  }
}
@media (min-width: 600px) {
  .sliderWrap {
    .top {
      .arrows {
        svg {
          width: 30px;
          height: auto;
        }
      }
    }
  }
}
@media (min-width: 850px) {
  .sliderWrap {
    width: 80%;
  }
}

@media (min-width: 1600px) {
  .sliderWrap {
    width: 60%;
    .top {
      h2 {
        font-size: 22px;
      }
    }
  }
}
