@import "../../styles/variables.scss";

.choiceWrap {
  margin: 20px 0 28px 0;

  grid-area: choice;

  p {
    text-align: center;
  }

  .example {
    position: relative;
    display: block;
    margin: 20px auto;
    border: 4px $primary_color solid;
    border-radius: 50px;
    overflow: hidden;
    width: 50px;
    height: 50px;

    svg {
      position: absolute;
      top: -6px;
      left: -6px;
      width: 60px;
      height: auto;
      transform: rotate(45deg);
    }
    &.red {
      background-color: rgb(187, 0, 0);
    }
    &.blue {
      background-color: rgb(0, 110, 255);
    }
    &.pink {
      background-color: pink;
    }
    &.grey {
      background-color: grey;
    }
    &.green {
      background-color: green;
    }
    &.purple {
      background-color: purple;
    }
  }

  .choices {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5px;

    button {
      border: 1px $primary_color solid;
      background-color: white;
      border-radius: 5px;
      font-family: $font;
      padding: 5px 20px;
      cursor: pointer;
    }
    .select {
      background-color: $primary_color;
      color: white;
    }
  }
}

@media (min-width: 850px) {
  .choiceWrap {
    margin: 10px 0;

    .example {
      width: 70px;
      height: 70px;

      svg {
        width: 80px;
      }
    }
  }
}
@media (min-width: 1600px) {
  .choiceWrap {
    .choices {
      button {
        padding: 8px 30px;
        font-size: 18px;
      }
    }
  }
}
