.Prod {
  h2 {
    font-size: 18px;
    margin: 5px 0;
  }
  h3 {
    font-size: 15px;
    margin: 5px 0;
  }
  p {
    font-size: 14px;
  }

  .TopProd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15px;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;

    .expandWrap {
      position: relative;
      font-size: 14px;
      width: 100%;
      .expand {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
      }

      .expandInfo {
        overflow: hidden;
        height: 0;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        transition: height 0.3s ease-in-out;
        ul {
          margin: 10px 0;
        }
        &.on {
          height: 80px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: 0 10px;
          margin: auto 0;
          transition: height 0.3s ease-in-out;
          ul {
            margin: 10px 0;
          }
        }
      }
    }
  }
}
