@import "../../styles/variables.scss";

.Prod {
  font-family: $font;
  h2 {
    font-size: 18px;
    margin: 5px 0;
  }
  h3 {
    font-size: 15px;
    margin: 5px 0;
  }
  p {
    font-size: 12px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 1000%;
    height: 1000%;
    background-color: $primary_color;
    z-index: 2;
    opacity: 0.7;
  }

  .TopProd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    grid-area: title;
  }
  .buttonWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: buttons;
    gap: 10px;
    margin: 20px 0;

    .cart {
      width: 70%;
      cursor: pointer;
    }
    .wish {
      width: 70%;
      cursor: pointer;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    grid-area: details;

    .expandWrap {
      position: relative;
      font-size: 12px;
      width: 100%;
      .expand {
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        cursor: pointer;
      }

      .expandInfo {
        overflow: hidden;
        height: 0;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        transition: height 0.3s ease-in-out;
        ul {
          margin: 10px 0;
        }
        &.on {
          height: 80px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: 0 10px;
          margin: auto 0;
          transition: height 0.3s ease-in-out;
          ul {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .Prod {
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
      margin: 5px 0;
    }
    p {
      font-size: 15px;
    }
    .TopProd {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 80%;
    }
    .details {
      .expandWrap {
        font-size: 15px;
      }
    }
  }
}
@media (min-width: 600px) {
  .Prod {
    .details {
      .expandWrap {
        svg {
          width: 30px;
          height: auto;
        }
        .expand {
          width: 90%;
        }
        .expandInfo {
          width: 90%;
          margin: 0 auto;
          &.on {
            margin: 0 auto;
            width: 90%;
          }
        }
      }
    }
  }
}
@media (min-width: 850px) {
  .Prod {
    display: grid;

    grid-template-areas:
      "title imgsProd "
      "choice imgsProd "
      "buttons imgsProd "
      "details imgsProd "
      "slider slider ";

    margin: 10px 0;
  }
}
@media (min-width: 1100px) {
  .Prod {
    width: 90%;
    margin: 10px auto;

    .buttonWrap {
      margin: 20px auto;
      width: 80%;
    }

    .details {
      .description {
        width: 70%;
      }
    }
  }
}
@media (min-width: 1600px) {
  .Prod {
    width: 75%;
    grid-template-areas:
      "title imgsProd imgsProd"
      "choice imgsProd imgsProd"
      "buttons imgsProd imgsProd"
      "details imgsProd imgsProd"
      "slider slider slider";
    h2 {
      font-size: 25px;
    }
    h3 {
      font-size: 22px;
      margin: 5px 0;
    }
    p {
      font-size: 19px;
    }
    .details {
      .expandWrap {
        font-size: 19px;
      }
      .description {
        width: 100%;
      }
    }
  }
}
