.navbar {
  padding: 0 15px;
  .navWrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    .logo {
      width: 60px;
      height: auto;
    }

    .hamburger {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      svg {
        width: 24px;
        cursor: pointer;
        height: auto;
      }
      p {
        margin: 0;
        position: absolute;
        font-size: 12px;
        font-weight: 600;
      }

      .cartNav {
        position: relative;
        p {
          left: 9px;
          top: -12px;
        }
      }
      .wishNav {
        position: relative;
        p {
          top: 3px;
          left: 8.5px;
        }
      }
    }
  }
}
