@import "../../../styles/variables.scss";

.sliderCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 180px;
  min-width: 180px;
  height: 180px;
  width: 180px;
  padding: 10px;
  border: 1px $primary_color solid;
  border-radius: 10px;
  .image {
    width: 130px;
    span {
      display: block;
      margin: auto 0;
    }
  }

  .infoCard {
    height: 30%;
    font-size: smaller;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h4 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
}

@media (min-width: 850px) {
  .sliderCard {
    height: 250px;
    width: 210px;
    padding: 20px 15px;
    .infoCard {
      h4 {
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .sliderCard {
    height: 300px;
    width: 250px;
    padding: 20px 15px;
    .image {
      width: 180px;
    }
    .infoCard {
      h4 {
        font-size: 21px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
