@import "../../../styles/variables.scss";

.cardWrap {
  .cartCard {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 0;
    border-bottom: rgb(167, 167, 167) 2px solid;

    .photoCart {
      width: 30%;
    }

    .infoCart {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 60%;
      p {
        display: none;
      }

      h2 {
        font-size: 15px;
        margin: 5px 0;
        text-align: center;
      }
      .underCart {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        h3 {
          font-size: 13px;
          margin: 5px 0;
        }

        .choice {
          width: 25px;
          height: 25px;
          border: 1px black solid;
          border-radius: 5px;

          &.red {
            background-color: rgb(187, 0, 0);
          }
          &.blue {
            background-color: rgb(0, 110, 255);
          }
          &.pink {
            background-color: pink;
          }
          &.grey {
            background-color: grey;
          }
          &.green {
            background-color: green;
          }
          &.purple {
            background-color: purple;
          }
        }
      }
    }

    svg {
      width: 10%;
      height: auto;
      padding: 5px;
    }
  }
}
@media (min-width: 400px) {
  .cardWrap {
    .cartCard {
      svg {
        padding: 10px;
      }
    }
  }
}
@media (min-width: 500px) {
  .cardWrap {
    .cartCard {
      svg {
        padding: 15px;
      }
    }
  }
}
@media (min-width: 600px) {
  .cardWrap {
    .cartCard {
      .infoCart {
        h2 {
          font-size: 20px;
        }

        .underCart {
          h3 {
            font-size: 17px;
          }

          .choice {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}
@media (min-width: 700px) {
  .cardWrap {
    .cartCard {
      svg {
        padding: 20px;
      }
    }
  }
}
@media (min-width: 900px) {
  .cardWrap {
    .cartCard {
      svg {
        padding: 25px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .cardWrap {
    .cartCard {
      .infoCart {
        width: 50%;
        h2 {
          font-size: 25px;
        }

        .underCart {
          h3 {
            font-size: 22px;
          }

          .choice {
            width: 35px;
            height: 35px;
          }
        }
      }
      svg {
        width: 20%;
        padding: 70px;
      }
    }
  }
}
@media (min-width: 1400px) {
  .cardWrap {
    .cartCard {
      .infoCart {
        gap: 30px;
        h2 {
          font-size: 28px;
        }

        .underCart {
          h3 {
            font-size: 25px;
          }

          .choice {
            width: 40px;
            height: 40px;
          }
        }
      }
      svg {
        padding: 85px;
      }
    }
  }
}
@media (min-width: 1600px) {
  .cardWrap {
    .cartCard {
      .infoCart {
        p {
          display: block;
          width: 80%;
          text-align: center;
          margin: 0 auto;
        }
      }
      svg {
        padding: 95px;
      }
    }
  }
}
@media (min-width: 1800px) {
  .cardWrap {
    .cartCard {
      .infoCart {
        h2 {
          font-size: 25px;
        }

        .underCart {
          h3 {
            font-size: 22px;
          }

          .choice {
            width: 35px;
            height: 35px;
          }
        }
      }
      svg {
        padding: 110px;
      }
    }
  }
}
@media (min-width: 1900px) {
  .cardWrap {
    .cartCard {
      svg {
        padding: 130px;
      }
    }
  }
}
